<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthify">
        <activity
            android:name=".Shape.MyShapeRecords"
            android:exported="false" />
        <activity
            android:name=".Shape.ShapeUpdateForm"
            android:exported="false" />
        <activity
            android:name=".Shape.ShapeForm"
            android:exported="false" />
        <activity
            android:name=".BodyFat.UpdateForm"
            android:exported="false" />
        <activity
            android:name=".BMI.BmiUpdateForm"
            android:exported="false" />
        <activity
            android:name=".BMI.bmiRecords"
            android:exported="false" />
        <activity
            android:name=".BMI.BmiForm"
            android:exported="false" />
        <activity
            android:name=".BodyFat.MyRecords"
            android:exported="false" />
        <activity
            android:name=".BodyFat.FormResult"
            android:exported="false" />
        <activity
            android:name=".BodyFat.FormFile"
            android:exported="false" />
        <activity
            android:name=".BodyFat.bodyFatCalculatorHome"
            android:exported="false" />
        <activity
            android:name=".BodyFat.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>